<%= form_with(model: genre, class: "row g-3") do |form| %>
  <% if genre.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <h2><%= pluralize(genre.errors.count, "error") %> impediram o salvamento deste gênero:</h2>
      <ul>
        <% genre.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-md-6">
    <%= form.label :name, "Nome", class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="col-md-6">
    <%= form.label :description, "Descrição", class: "form-label" %>
    <%= form.text_field :description, class: "form-control" %>
  </div>

  <div class="col-12">
    <%= form.submit "Salvar Gênero", class: "btn btn-primary" %>
  </div>
<% end %>
