<%= form_with(model: genre) do |form| %>
  <% if genre.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(genre.errors.count, "error") %> impediram o salvamento deste gênero:</h2>

      <ul>
        <% genre.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :Nome, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :Descrição, style: "display: block" %>
    <%= form.text_field :description %>
  </div>

  <div>
    <%= form.submit "Salvar Gênero"%>
  </div>
<% end %>
