<p style="color: green"><%= notice %></p>

<h1>Genres</h1>
<%= link_to "New Genre", new_genre_path, class: "btn btn-primary" %>
<ul>
  <% @genres.each do |genre| %>
    <li>
      <%= link_to genre.name, genre_path(genre) %>
      Authors: <%= book.authors.map(&:name).join(", ") %>
      <br>
      Genres: <%= book.genres.map(&:name).join(", ") %>
      <br>
      <%= link_to "Edit", edit_genre_path(genre) %> |
      <%= link_to "Delete", genre_path(genre), method: :delete, data: { confirm: "Are you sure you want to delete this genre?" } %>
    </li>
  <% end %>
</ul>