<p style="color: green"><%= notice %></p>

<h1>Gêneros</h1>
<%= link_to "Cadastrar gênero", new_genre_path, class: "btn btn-primary" %>
<ul>
  <% @genres.each do |genre| %>
    <li>
      <%= link_to genre.name, genre_path(genre) %>
      
      <br>
      <%= link_to "Editar", edit_genre_path(genre) %> |
      <%= link_to "Excluir", genre_path(genre), method: :delete, data: { confirm: "Tem certeza que deseja excluir?" } %>
    </li>
  <% end %>
</ul>