<p style="color: green"><%= notice %></p>

<%= render @genre %>

<div>
  <%= link_to "Editar este Gênero", edit_genre_path(@genre) %> |
  <%= link_to "Voltar para a lista", genres_path %>

  <%= button_to "Excluir este Gênero", @genre, method: :delete %>
</div>
