<%= form_with(model: author, class: "row g-3") do |form| %>
  <% if author.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <h2><%= pluralize(author.errors.count, "erro") %> impediram o salvamento deste autor:</h2>
      <ul>
        <% author.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-md-6">
    <%= form.label :name, "Nome", class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="col-md-6">
    <%= form.label :birthdate, "Data de Nascimento", class: "form-label" %>
    <%= form.date_field :birthdate, class: "form-control" %>
  </div>

  <div class="col-12">
    <%= form.submit "Salvar Autor", class: "btn btn-primary" %>
  </div>
<% end %>
