<p style="color: green"><%= notice %></p>

<% content_for :title, "Authors" %>

<h1>Authors</h1>
<%= link_to "New Author", new_author_path, class: "btn btn-primary" %>
<ul>
  <% @authors.each do |author| %>
    <li>
      <%= link_to author.name, author_path(author) %>
      Books: <%= author.books.map(&:title).join(", ") %>
      <br>
      Gêneros: <%= book.genres.map(&:name).join(", ") %>
      <br>
      <%= link_to "Edit", edit_author_path(author) %> |
      <%= link_to "Delete", author_path(author), method: :delete, data: { confirm: "Are you sure you want to delete this author?" } %>
    </li>
  <% end %>
</ul>