<p style="color: green"><%= notice %></p>

<%= render @author %>

<div>
  <%= link_to "Editar este Autor", edit_author_path(@author) %> |
  <%= link_to "Voltar para a lista", authors_path %>

  <%= button_to "Excluir este Autor", @author, method: :delete %>
</div>
