<div id="<%= dom_id user %>">
  <p>
    <strong>Nome:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Ativo:</strong>
    <%= user.habilitaded? ? "Sim" : "Não" %>
  </p>

  <p>
    <strong>Matrícula:</strong>
    <%= user.role %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>Senha:</strong>
    <%= user.password %>
  </p>

</div>
