<p style="color: green"><%= notice %></p>

<%= render @user %>

<div>
  <%= link_to "Editar este Usuário", edit_user_path(@user) %> |
  <%= link_to "Voltar para a lista", users_path %>

  <%= button_to "Excluir este Usuário", @user, method: :delete %>
</div>
