<%= form_with(model: rental) do |form| %>
  <% if rental.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(rental.errors.count, "error") %> impediram o salvamento deste empréstimo:</h2>

      <ul>
        <% rental.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :Data_de_empréstimo, style: "display: block" %>
    <%= form.date_field :rental_date %>
  </div>

  <div>
    <%= form.label :Data_de_devolução_prevista, style: "display: block" %>
    <%= form.date_field :return_estimate_date %>
  </div>
  
  <div>
    <%= form.label :Data_de_devolução_efetiva, style: "display: block" %>
    <%= form.date_field :return_date %>
  </div>

  <div>
    <%= form.submit "Salvar Empréstimo"%>
  </div>
<% end %>
