<div class="container mt-4">
    <a href="<%= new_rental_path %>" class="btn btn-success mb-3">Novo Empréstimo</a>

    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead class="table-dark">
                <tr>
                    <th>Usuário</th>
                    <th>Livro</th>
                    <th>Data do Empréstimo</th>
                    <th>Data Prevista Para Devolução</th>
                    <th>Status</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <% @rentals.each do |rental| %>
                <tr>
                    <td><%= rental.user.name %></td>
                    <td><%= rental.book.title %></td>
                    <td><%= rental.rental_date %></td>
                    <td><%= rental.return_estimate_date %></td>
                    <td>
                        <span class="badge <%= rental.rental_status_class %>">
                            <%= rental.rental_status.capitalize %>
                        </span>
                    </td>
                    <td>
                        <% if rental.rental_status == 'ativo' && rental.return_estimate_date >= Date.today %>
                        <%= link_to 'Prolongar Prazo', extend_return_estimate_date_rental_path(rental), method: :patch, class: "btn btn-sm btn-info h-50", data: { confirm: 'Tem certeza que deseja prolongar o prazo de devolução?' } %>
                        <% else %>
                        <span class="text-danger">Prazo expirado ou status inválido</span>
                        <% end %>
                        <%= link_to "Mais Informações", rental_path(rental), class: "h-50 btn btn-secondary" %>
                    </td>
                </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>