<p style="color: green"><%= notice %></p>

<%= render @rental %>

<div>
  <%= link_to "Editar este Empréstimo", edit_rental_path(@rental) %> |
  <%= link_to "Voltar para a lista", rentals_path %>

  <%= button_to "Excluir este Empréstimo", @rental, method: :delete %>
</div>
