<div id="<%= dom_id book %>">
    <p>
        <strong>Título:</strong>
        <%= book.title %>
    </p>

    <p>
        <strong>Editora:</strong>
        <%= book.publisher %>
    </p>

    <p>
        <strong>Ano de Publicação:</strong>
        <%= book.year_published %>
    </p>

    <p>
        <strong>Prateleira:</strong>
        <%= book.shelf %>
    </p>

    <p>
        <strong>Quantidade:</strong>
        <%= book.quanty %>
    </p>

    <p>
        <strong>Autores:</strong>
        <%= book.authors %>
    </p>


</div>