<p style="color: green"><%= notice %></p>

<h1>Livros</h1>
<%= link_to "Cadastrar Livro", new_book_path, class: "btn btn-primary" %>
<ul>
  <% @books.each do |book| %>
    <li>
      <%= link_to book.title, book_path(book) %> - 
      
      <br>
      Gêneros: <%= book.genres.map(&:name).join(", ") %>
      <br>
      <%= link_to "Editar", edit_book_path(book) %> |
      <%= link_to "Excluir", book_path(book), method: :delete, data: { confirm: "Tem certeza que deseja excluir?" } %>
    </li>
  <% end %>
</ul>
